<html>
    <head>
        <meta property="og:title" content="certificate title" />
  <meta property="og:url" content="https://arhamyogacertificates.herokuapp.com/sharecertificate/<%=resultid%>" />
  <meta property="og:type" content="blog" />
  <meta property="og:description" content="certificate description" />
  <meta property="og:image" content="http://arham-cds.ap-south-1.elasticbeanstalk.com/certificates/<%=resultid%>" />
    </head>
    <body>
        <h1>share certificate</h1>
    </body>
</html>